@IMPORT url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*EDITAMOS TODO*/
 
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
:root{
    --bg:#f5f5f5;
    --text:#1a1a1a; 
    --sidebar-w: 220px;
    --sidebar-icons: 64px;
    --sidebar-bg:#ffffff;
    --siderbar-line: rgba(0, 0, 0, 0.15);
    --muted:#4cdb6b;

}
body{
    font-family: Poppins;
    background-color: var(--bg);
    color: var(--text)
}
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 56px;
    background-color: var(--sidebar-bg);
    border-bottom: 1px solid var(--siderbar-line);

}
.sidebar{

}